* {
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(74, 74, 74);
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(74, 74, 74);
    padding: 0;
    margin: 0;
}
header {
    display:flex;
    background-color:rgb(48, 48, 48);
    align-items: center;
    justify-content: space-between;
}
.flex-it-center {
    display:flex;
    align-items: center;
}
.contenedorprincipal {
    width:80%;
    margin:auto;
}
.barrita{
    display:flex; 
    justify-content:space-between;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius:20px;
    align-items: center;
}
.leyendaImagen {
    margin:0;
    padding:0 10px;
}
.imagencirculo {
    width:60px;
    height:60px;
    border-radius:100%;
}
.buscador {
    width:400px;
    height:40px;
    border-radius:20px;
    text-align:center;
}
.usuario {
    display:flex;
    align-items: center;
}

.usuario img {
    border-radius:100%;
}
section {
    display: flex;
}
#cardTitle {
    text-align:center;
    margin-top:20px;
}
.articleSong {
    display:flex;
}
.boton-del-sitio {
    border-radius:15px;
    color:black;
    width:100%;
    margin:20px 0;
}
.input-del-sitio {
    width: 100%;
    border-radius:8px;
    color:black;
    margin:10px 0 10px;
}
.contenedor-form {
    background-color:rgba(150,150,150,0.2);
    
    flex:1;
}
.formulario {
    width:60%;
    
    margin:auto;
    padding:20px;
}
.bg-playlist {
    background-color: rgb(90,90,90);
    margin-bottom: 10px;
}
.playlist-title{
    font-size: 14px;
    margin: 5px;
}
.playlist-desc {
    font-size: 10px;
    margin: 5px;
}